{
  "env": {
    "test": {
      "plugins": ["@babel/plugin-transform-modules-commonjs"]
    },
    "development": {
      "presets": ["@babel/preset-env"],
      "plugins": ["add-module-exports"]
    },
    "production": {
      "presets": ["@babel/preset-env", "minify"],
      "plugins": ["add-module-exports"]
    }
  }
}
