{
  "extends": ["airbnb-base", "prettier"],
  "parser": "babel-eslint",
  "env": {
    "mocha": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "consistent-return": "off"
  }
}
